<div class="row">
<div class="col-xs-4">
</div>
<div class="col-xs-4">
  <form class="form-inline">
    <div class="form-group has-feedback">
      <input id="search" type="text" class="form-control" id="inputSuccess4" aria-describedby=“inputSuccess4Status” placeholder=search>
      <span class="glyphicon glyphicon-search form-control-feedback" aria-hidden="true"></span>
    </div>
  </form>

  <h1>Ideas:</h1>
  <ul id="ideas" class="list-unstyled">
  </ul>
  <h2>Make a New Idea:</h2>
  <label for="title">Idea Title:  <input id="title" type="text"></br></label>
  <label for="body">Idea Body:  <input id="body" type="text"></br></label>
  <button id="submit">Save</button>
  <div class="col-xs-4">
  </div>
</div>
</div>
