<h1>Ideas:</h1>
<ul id="ideas">
</ul>
<h2>Make a New Idea:</h2>
<label for="title">Idea Title:  <input id="title" type="text"></br></label>
<label for="body">Idea Body:  <input id="body" type="text"></br></label>
<button id="submit">Save</button>
