<h1>Edit Idea:</h1>
<label for="edit-title">Idea Title:  <input id="edit-title" type="text" value="<%= @idea.title%>"></br></label>
<label for="edit-body">Idea Body:  <input id="edit-body" type="text" value="<%= @idea.body %>"></br></label>
<input id="edit-id" type="hidden" value="<%= @idea.id %>">
<button id="edit">Save</button>
